<div class="podkategorije" style="margin-bottom:50px">
<div class="k1 1kategor">
<div id="kategorije" class="text--strong">Tomos motorji</div>
<div class="1scroller">
<div class="1scroller__inner">
<div class="1collection-list">

<a href="/collections/tomos-a3" class="collection-item 1kategorija"><div class="collection-item__image-wrapper 1slika"><div class="aspect-ratio" style="padding-bottom: 100%">
<img class="slika-kat 1slika" alt="Deli za Tomos A3" srcset="//cdn.shopify.com/s/files/1/0560/1460/2426/files/velika_tomos_a3.jpg?v=1651768697 300w">
</div>
</div><span class="tekst-naslov collection-item__title text--strong">Tomos A3</span></a>


<a href="/collections/tomos-a35-in-a5" class="collection-item 1kategorija"><div class="collection-item__image-wrapper 1slika"><div class="aspect-ratio" style="padding-bottom: 100%">
<img class="slika-kat" alt="Deli za Tomos Avtomatik" srcset="//cdn.shopify.com/s/files/1/0560/1460/2426/files/velika_tomos_a35.jpg?v=1651768734 300w">
</div>
</div><span class="tekst-naslov collection-item__title text--strong">Tomos A35 in A5</span></a>


<a href="/collections/tomos-apn4" class="collection-item 1kategorija"><div class="collection-item__image-wrapper 1slika"><div class="aspect-ratio" style="padding-bottom: 100%">
<img class="slika-kat" alt="Deli za Tomos Apn" srcset="//cdn.shopify.com/s/files/1/0560/1460/2426/files/velika_tomos_apn4.jpg?v=1651768722 300w">
</div>
</div><span class="tekst-naslov collection-item__title text--strong">Tomos Apn4</span></a>


<a href="/collections/tomos-apn6" class="collection-item 1kategorija"><div class="collection-item__image-wrapper 1slika"><div class="aspect-ratio" style="padding-bottom: 100%">
<img class="slika-kat" alt="Deli za Tomos Apn6" srcset="//cdn.shopify.com/s/files/1/0560/1460/2426/files/tomos_apn6_deli.jpg?v=1659283956 300w">
</div>
</div><span class="tekst-naslov collection-item__title text--strong">Tomos Apn6</span></a>


<a href="/collections/vsi-tomos-motorji" class="ostali-tomos collection-item 1kategorija "><div class="collection-item__image-wrapper 1slika"><div class="aspect-ratio" style="padding-bottom: 100%">
<img class="slika-kat" alt="Deli za Tomos motorje" srcset="//cdn.shopify.com/s/files/1/0560/1460/2426/files/velika_tomos_vsi.jpg?v=1651768681 300w">
</div>
</div>
<span class="tekst-naslov collection-item__title text--strong">Ostali Tomos motorji</span></a>

</div>
</div>
</div>
</div>
</div>


