

@media screen and (min-width: 800px){
  .filter_skupaj {display: flex;justify-content: space-between;align-items: center;}
  .filter_list {display: flex;height: 50px;}
}

.katego:first-of-type {display: none;}
.card__section.collection__mobile-filters-recap.\31 hidden-lap-and-up {padding-top: 0px;}
.col-img.slika-subkategorija {width: auto!important;height:140px}
.ikonce_10{height:150px;max-width:150px;padding:10px 0px}
a.kategorija.collection__filter-link.link.link--primary{text-align:center}
.kategorija{display:block}
.kategorija{position:relative}
.kategorija::after{content:'';position:absolute;top:0;bottom:0;left:0;right:0;opacity:0;box-shadow: 0 0 1rem -0.25em #77a9e2;z-index: 1;transition: opacity:0.5s ease;}
.kategorija:hover::after {opacity:1}
.collection__filter-collapsible[aria-hidden=false] {height:unset!important;padding-bottom:20px!important}
button.collection__filter-link.link.link--primary1{display:none}
button.expandable-content__toggle {padding: 5px;background:white}
.kategorija-napis {font-size: 15px;}
.collection__filter-group{border-bottom:unset}
@media screen and (max-width: 641px){
  .collection__toolbar.collection__toolbar--bordered {position: sticky;top: 0;}
ul.kategorija-cel.collection__filter-linklist {display: grid;gap: 0px;grid-template-columns: 1fr 1fr;}
.napis_slika {font-size: 14px;}
.katego {margin: 0px;}
a.kategorija.collection__filter-link.link.link--primary{padding:7px;gap:30px}
a.kategorija.collection__filter-link.link.link--primary{min-height:80px;height:100%}
.collection__meta{margin-bottom:-10px}
.ikonce_10{height: 100px;width: 100px;padding:0px}

}

.collection__description.expandable-content.expandable-content--expandable {font-size: 15px;}
ul.kategorija-cel.collection__filter-linklist{padding: 5px;gap: 6px;}
.kolekcija2 {background: white!important;}
.katego {margin: 0px;}